# Telegram Bot Settings
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

# OpenAI / LLM Settings
OPENAI_API_KEY=
LLM_MODEL=

# App Settings
CRON_TIME=

# Google Calendar Integration
GOOGLE_OAUTH_USER_EMAIL=
GOOGLE_CALENDAR_ID=
CREDENTIALS_PATH=private/credentials.json

# Event Filtering
IGNORED_EVENT_TITLES=festivo,holiday
